# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\rhita\OneDrive\Desktop\HardDrive\MQl_MS\semestre2\JavaEE\Spring\Course-api-boot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
